<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pets Gallery</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
    .card-img-top {
      height: 300px;
      object-fit: cover;
    }
  </style>
</head>
<body>

<div class="container mt-5">
<a href='/add/pet' class="btn btn-primary">Add New Pet</a>
  <div class="row">
    {% for pet in pets %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="{{ pet.photo_url }}" class="card-img-top" alt="{{ pet.name }}">
        <div class="card-body">
          <a href="/{{pet.id}}/view" class="{{ 'text-success' if pet.available else 'text-danger' }}">{{ pet.name }} is {{ 'available' if pet.available else 'Not Available' }}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


